<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 SERVER :(</title>
  </head>
  <body>
    <section class="">
      <div class="">
        <div class="">
          <img width="520" class="" alt="Error" src="/images/404.png" />
        </div>
        <div class="">
          <h1 class="">404 <br class="" />Page Not Found</h1>
          <p class="">
            Oops! The page you were looking for not could not be found.<br />
            Please go to homepage
          </p>
          <div class="">
            <button class=""><a href="/">Back to Home</a></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
