<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 SERVER :(</title>
  </head>
  <body>
    <section class="">
      <div class="">
        <div class="">
          <img width="520" class="" alt="Error" src="/images/404.png" />
        </div>
        <div class="">
          <h1 class="">404 <br class="" />Page Not Found</h1>
          <p class="">
            Oops! The page you were looking for not could not be found.<br />
            Please go to homepage
          </p>
          <div class="">
            <button class=""><a href="/">Back to Home</a></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>There was an internal server error. Please try again later.</p>
  <a href="/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to home</a>
</body>
</html>
